@media (prefers-color-scheme: dark) { .live-score-display { color: #fff !important; } }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

@media (prefers-color-scheme: dark) {
    .postponed-badge {
        background: #3e2723 !important; /* Πολύ σκούρο κόκκινο φόντο */
        color: #ff8a80 !important;      /* Ανοιχτό κόκκινο γράμμα */
        border-color: #d32f2f !important;
    }

@media (prefers-color-scheme: dark) {
    :root {
        --bg-light: #121212;
        --text-dark: #e0e0e0;
    }

@media (prefers-color-scheme: dark) {
    .fa-copy { color: #e0e0e0; }

@media (prefers-color-scheme: dark) {
    .share-modal-content { background: #252525; border: 1px solid #444; }

@media (prefers-color-scheme: dark) {
    .stats-team-name { color: #fff !important; }

@media (prefers-color-scheme: dark) {
    #backToTop {
        background-color: #ffd700;
        color: #000;
    }

        @media (prefers-color-scheme: dark) {
            :root {
                --card-back-bg: #1a1a1a;
            }

@media (prefers-color-scheme: dark) {
    /* 1. Γενικό φόντο Modal */
    #adminModal .modal-content {
        background-color: #1a1a1a !important;
        color: #ffffff !important;
    }

@media (prefers-color-scheme: dark) {
   .match-input-row {
        background-color: #252525 !important;
        border: 1px solid #444 !important;
        box-shadow: none !important;
    }

